# misc
.DS_Store
package-lock.json
yarn-error.log
yarn.lock
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

docs/*
node_modules/

# Next
.next

# IDEs
.vscode
.idea

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/out

# env files
.env